﻿@model DepartmentWebApplication.Models.DisciplinesInformationModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
}

@{
    ViewBag.Title = "Сведения";
}


@section Content{
    <div class="text-center my-5">
        <h2 class="mb-3">Сведения к расписанию</h2>
        <div class="float-left position-absolute ml-5">
            <form action="/reports/disciplinesinformation/create" method="get">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="semester" value="0" id="semester2" checked/>
                    <label class="form-check-label" for="semester2">Осень</label>
                </div>
                <div class="form-check form-check-inline mr-0">
                    <input class="form-check-input" type="radio" name="semester" value="1" id="semester1"/>
                    <label class="form-check-label" for="semester1">Весна</label>
                </div>
                <input class="btn mt-5 btn-primary d-block" type="submit" value="Создать сведения" />
            </form>
        </div>
        @if (Model.ErrorMessage != null)
        {
            <div class="text-danger">
                <p>@Model.ErrorMessage</p>
            </div>
        }
        @if (Model.DisciplinesInformationPaths != null)
        {
            <div class="d-inline-block">
                @foreach (string path in Model.DisciplinesInformationPaths)
                {
                    <p class="mb-2 border-bottom">
                        <a href="/reports/disciplinesinformation/download?name=@path">@path</a>
                    </p>
                }
            </div>
        }
    </div>
}