﻿@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
}

@{
    ViewBag.Title = "Отчеты";
}


@section Content{
    <div class="text-center mt-5 ">
        <h2 class="mb-3">Отчеты</h2>
        <p>
            <a href="/reports/individualPlans">Индивидуальные планы</a>
        </p>
        <p>
            <a href="/reports/disciplinesinformation">Сведения к расписанию</a>
        </p>
    </div>
}