﻿@model DepartmentWebApplication.Models.IndividualPlansModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
}

@{
    ViewBag.Title = "IndividualPlans";
}

@section Content{
    <div class="text-center my-5">
        <h2 class="mb-3">Индивидуальные планы</h2>
        <div class="float-left position-absolute ml-5">
            <p>
                <a class="btn  btn-primary" href="/reports/individualPlans/create">Создать планы</a>
            </p>
            <p>
                <a class="btn  btn-primary" href="/reports/individualPlans/createreport">Создать отчет</a>
                @if (Model.ReportExist)
                {
                    @("| ")<a class="btn  btn-primary" href="/reports/individualPlans/downloadreport">Скачать отчет</a>
                }
            </p>
            <form class="mt-5 d-inline-block w-75" action="/Reports/IndividualPlans/updateplan" method="post" enctype="multipart/form-data">
                <h5>Обновить индивидуальный план</h5>
                <div class="custom-file">
                    <input type="file" name="individualplan" id="individualplan" lang="ru" accept=".xlsx" required>
                    <label class="custom-file-label text-left" for="individualplan">Выберите план</label>
                </div>
                <input class="btn mt-2 btn-primary d-inline-block" type="submit" value="Обновить"/>
                <script>
                    document.getElementById("individualplan").onchange = function (e) {
                        $(this).next('.custom-file-label').html(e.target.files[0].name);
                    };
                </script>
            </form>
        </div>
        @if (Model.ErrorMessage != null)
        {
            <div class="text-danger">
                <p>@Model.ErrorMessage</p>
            </div>
        }
        @if (Model.IndividualPlanPaths != null)
        {
            <div class="d-inline-block">
                @foreach (string path in Model.IndividualPlanPaths)
                {
                    <p class="mb-2 border-bottom">
                        <a href="/Reports/IndividualPlans/download?employee=@path">@path</a>
                    </p>
                }
            </div>
        }
    </div>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
}
