﻿@model DataAccessLayer.Entities.Teacher

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainStyles/form.css")">
}

@section Content{
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "custom-form" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <h4 class="custom-form__title">Добавление преподавателя</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "custom-form__text-danger" })
            <div class="group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "custom-form__input" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>

            <div class="group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "custom-form__input" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>

            <div class="group">
                @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "custom-form__input" } })
                    @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>

            <input type="submit" value="Добавить преподавателя" class="custom-btn" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "custom-btn" })

        </div>
    }
}
