﻿@model IEnumerable<DataAccessLayer.Entities.Teacher>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainStyles/table.css")">
}

@section Content{
    <p>
        @Html.ActionLink("Добавить преподавателя", "Create", null, new { @class = "custom-btn custom-table__create-btn" })
    </p>
    <table class="custom-table-list">
        <caption class="custom-table-list__caption">Преподаватели</caption>
        <tr class="custom-table-list__row-headline">
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="custom-table-list__row">
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
            </tr>
        }
    </table>
}