﻿@model DataAccessLayer.Entities.Discipline

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Styles/Discipline/add-discipline-to-plan-form.css" rel="stylesheet" />
    <script src="~/Scripts/comission.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Дисциплина в учебном плане</h4>
            <hr />

            <input name="PlanId" type="hidden" value="@ViewBag.PlanId" />



            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="DisciplineId">Название дисциплины</label>
                <div class="col-md-10">
                    @Html.DropDownList("SubjectId", ViewBag.DisciplineName as SelectList,"Выберите дисциплину" ,htmlAttributes: new { @class = "form -control", onchange = "isGraduationProject()" })
                    @Html.ValidationMessageFor(model => model.Subject.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="hidden" id="commission">
                <label for="commission-checkbox" name="commisiion">C комиссией</label>               
                @Html.CheckBoxFor(model => model.IsWithCommission, new { id = "commission-checkbox", onclick = "isWithCommisssion()" })

                <div class="hidden" id="member-amount">
                    <label for="member-amount-input">Количество членов в комиссии</label>
                    <input id="member-amount-input" name="MemberAmount" type="number" value="3" min="0" max="6" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SemesterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SemesterNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SemesterNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="basic">
                <div class="form-group">
                    @Html.LabelFor(model => model.Control, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                 
                        @Html.EnumDropDownListFor(model => model.Control,"Выберите форму контроля", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Control, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CourseType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.CourseType,"Выберите тип курсового", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Lectures, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">                      
                        @Html.EditorFor(model => model.Lectures, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                        @Html.ValidationMessageFor(model => model.Lectures, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Labs, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Labs, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                        @Html.ValidationMessageFor(model => model.Labs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Practices, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Practices, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                        @Html.ValidationMessageFor(model => model.Practices, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Seminars, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Seminars, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                        @Html.ValidationMessageFor(model => model.Seminars, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Independents, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Independents, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                        @Html.ValidationMessageFor(model => model.Independents, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Ksr, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ksr, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                        @Html.ValidationMessageFor(model => model.Ksr, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
