﻿@model DataAccessLayer.Entities.DisciplineSemester

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>DisciplineSemester</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Discipline.SequentialNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Discipline.SequentialNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Control)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Control)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CourseType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CourseType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lectures)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lectures)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Labs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Labs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Practices)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Practices)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Seminars)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Seminars)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Independents)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Independents)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ksr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ksr)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
