﻿@model IEnumerable<DataAccessLayer.Entities.Discipline>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject.Name)
            </th>
            <th>
                План
            </th>
            <th>
                Название Кафедры
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plan.Speciality.Name)
                    @Html.DisplayFor(modelItem => item.Plan.RegNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
    <a href="/">На главную</a>
</body>
</html>
