﻿<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="@Url.Content("~/Styles/fontawesome/css/all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/fontawesome/css/fontawesome.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/fontawesome/css/brands.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/fontawesome/css/solid.css")">

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles")
    }

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainStyles/index.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainStyles/base.css")">


    <title>@ViewBag.Title</title>
</head>
<body class="page">
    <header class="main-header main-header_dark-theme page__header">
        <div class="main-header__wrapper page__line_xl-width">
            @*<div class="">Белорусско-Российский университет</div>*@
        <div class="main-header__program-name"><img class="main-header__logo logo" src="@Url.Content("~/Content/Images/MainPage/herb.png")" alt="herb"><p>Программа для расчета нагрузки</p></div>
            <a class="main-header__menu-btn" data-is_active="0" onclick="menu(this)">|||</a>            <nav class="navigation">
                @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "navigation__item button button_light-theme" })
                @Html.ActionLink("Учебные планы", "Index", "Plan", null, new { @class = "navigation__item button button_light-theme" })
                @Html.ActionLink("Факультеты", "Index", "Faculties", null, new { @class = "navigation__item button button_light-theme" })
                @Html.ActionLink("Кафедры", "Index", "Departments", null, new { @class = "navigation__item button button_light-theme" })
                @Html.ActionLink("Закрепление", "Index", "Anchoragation", null, new { @class = "navigation__item button button_light-theme" })
                @Html.ActionLink("Коэффициенты", "Index", "Coefficients", null, new { @class = "navigation__item button button_light-theme" })
                @Html.ActionLink("Контингент", "Index", "Contingent", null, new { @class = "navigation__item button button_light-theme" })
                @Html.ActionLink("Преподаватели", "Index", "Teacher", null, new { @class = "navigation__item button button_light-theme" })
                @Html.ActionLink("Штаты", "Index", "StateDocuments", null, new { @class = "navigation__item button button_light-theme" })
                @Html.ActionLink("Распределение нагрузки", "Index", "DistributionPlans", null, new { @class = "navigation__item button button_light-theme" })
                @Html.ActionLink("Отчеты", "Index", "Reports", null, new { @class = "navigation__item button button_light-theme" })                @Html.ActionLink("⚙️", "Index", "Settings", null, new { @class = "navigation__item button button_light-theme" })

            </nav>
        </div>
    </header>
    <div class="content-section page__content page__line_all-width">
        @RenderSection("Content")
    </div>

    <footer class="main-footer">
        <div class="main-footer__wrapper page__line_xl-width">

        </div>
    </footer>
	@if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }  	<script src="@Url.Content("~/Scripts/main.js")"></script>
    <script src="@Url.Content("~/Styles/fontawesome/js/brands.js")"></script>
    <script src="@Url.Content("~/Styles/fontawesome/js/solid.js")"></script>
    <script src="@Url.Content("~/Styles/fontawesome/js/fontawesome.js")"></script>
    <script src="@Url.Content("~/Styles/fontawesome/js/all.min.js")"></script></body>
</html>