@import "Styles/MainStyles/colors"
.plan-wrapper
  padding: 0 40px
.plan-header
  display: flex
  justify-content: space-between
  font-size: 1.3rem
  margin-top: 40px

.plan-header__info
  flex: 1

  &:nth-of-type(2)
    flex: 2
    text-align: center

.plan-table
  border-collapse: collapse
  margin: 30px auto
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)



.plan-table__head-item
  padding: 5px
  border: 1px solid rgba($table-header, 0.5)
  background-color: $table-header
  color: #ececec

.plan-table__item
  padding: 5px
  font-size: 1.3rem
  border: 1px solid rgba($table-header, 0.5)
  color: #ececec

.plan-table__row
  background-color: $table-items

.plans-list
  border-collapse: collapse
  margin: 0 auto

  &__row
    background-color: $table-items

    &-headline
      background-color: $table-header

  &__item
    padding: 5px
    font-size: 1.3rem
    border: 1px solid rgba($table-header, 0.5)
    color: #ececec

    &-headline
      color: #ececec
      padding: 5px

.plan__create-btn
  margin: 20px 0 20px 20px
  display: inline-block