﻿.semester-form {
    border: 1px solid black;
    display: block;
    border-radius: 5px;
    margin-left:auto;
    width: 200px;
}

    .semester-form input[type="number"] {
        width: 50px;
    }

#add {
    display: block;
    text-align: center;
    background-color: #EFEFEF;
    border: 1px solid black;
    border-radius: 2px;
    margin: 2px;
}
