﻿@import "Styles/MainStyles/_colors"
    
html
    font-size: 10px

body
    font-size: 1.6rem


.distribution
    padding: 30px 40px
    &__choise
        display: flex
        align-items: center
        justify-content: center
    &__info-selects
        padding: 20px
        display: inline-flex
    &__input
        font-size: 1.4rem
        padding: 5px 7px
        &-block
            display: flex
            flex-direction: column
            margin-right: 30px
            label
                display: inline-block
    &__block
        position: relative
        display: block
        label
            display: block
    &__discipline   
        &-filter
            position: absolute
            left: 90px
            top: -6px
            display: flex
            width: 300px
            font-size: 1.4rem
            
            &-list
                display: flex
                position: relative
                z-index: 10
                margin-top: 7px
                transform: scale(1, 0)
                flex-direction: row
                transition: 0.2s all ease
                padding: 10px 10px 10px 2px
                background-color: $gray-font
                li
                    transition: 0.2s all ease
                    cursor: pointer
                    color: $light-font

                    &:hover
                        transition: 0.2s all ease
                        text-decoration: underline
            &-btn
                user-select: none
                margin-top: 6px
                color: $gray-font
                cursor: pointer
                display: inline-block
                p
                    display: inline-block
                    transition: 0.2s all ease

.arrow
    margin-left: 7px
    margin-right: 7px
    color: $main-header-dark
    &__block
        display: flex
    cursor: pointer
    font-size: 1.7rem
    font-weight: bold


    

.filter
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 30px
    &__distr
        display: flex
        flex-direction: column
        justify-content: center
        margin-top: 30px
        width: 400px
        margin: auto
        &-group
            display: flex
            flex-direction: column
            margin: 10px 0
        &-submit
            margin: 10px auto
            display: block

            
.submit__filter
    margin: 0 auto
    display: block
    margin-top: -30px

.form-group
    display: flex
    margin-bottom: 5px
    border-bottom: 1px solid rgba(0,0,0,0.1)

.form-control
    padding: 5px 10px
    font-size: 1.2rem
    text-align: center
    border: 1px solid rgba(0,0,0, 0.1)
    width: 50px

.control-label
    font-size: 1.4rem
    margin-bottom: 4px
    width: 300px

select
    border: 1px solid rgba(0,0,0, 0.2)


.info-block
    width: 170px
    font-size: 0.9rem
    background-color: rgba(0, 0, 0, 0.6)
    padding: 15px
    border-radius: 40px
    margin: auto
    margin-top: 30px
    margin-bottom: 30px
    color: white
    position: relative
    display: none
    &__close
        position: absolute
        display: inline-block
        right: 15px
        top: 15px
        cursor: pointer

.custom-btn
    margin-top: 0