html {
  font-size: 10px; }

body {
  font-size: 1.6rem; }

.distribution {
  padding: 30px 40px; }
  .distribution__choise {
    display: flex;
    align-items: center;
    justify-content: center; }
  .distribution__info-selects {
    padding: 20px;
    display: inline-flex; }
  .distribution__input {
    font-size: 1.4rem;
    padding: 5px 7px; }
    .distribution__input-block {
      display: flex;
      flex-direction: column;
      margin-right: 30px; }
      .distribution__input-block label {
        display: inline-block; }
  .distribution__block {
    position: relative;
    display: block; }
    .distribution__block label {
      display: block; }
  .distribution__discipline-filter {
    position: absolute;
    left: 90px;
    top: -6px;
    display: flex;
    width: 300px;
    font-size: 1.4rem; }
    .distribution__discipline-filter-list {
      display: flex;
      position: relative;
      z-index: 10;
      margin-top: 7px;
      transform: scale(1, 0);
      flex-direction: row;
      transition: 0.2s all ease;
      padding: 10px 10px 10px 2px;
      background-color: #787A7B; }
      .distribution__discipline-filter-list li {
        transition: 0.2s all ease;
        cursor: pointer;
        color: #ffffff; }
        .distribution__discipline-filter-list li:hover {
          transition: 0.2s all ease;
          text-decoration: underline; }
    .distribution__discipline-filter-btn {
      user-select: none;
      margin-top: 6px;
      color: #787A7B;
      cursor: pointer;
      display: inline-block; }
      .distribution__discipline-filter-btn p {
        display: inline-block;
        transition: 0.2s all ease; }

.arrow {
  margin-left: 7px;
  margin-right: 7px;
  color: #023F76;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bold; }
  .arrow__block {
    display: flex; }

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px; }
  .filter__distr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 400px;
    margin: auto; }
    .filter__distr-group {
      display: flex;
      flex-direction: column;
      margin: 10px 0; }
    .filter__distr-submit {
      margin: 10px auto;
      display: block; }

.submit__filter {
  margin: 0 auto;
  display: block;
  margin-top: -30px; }

.form-group {
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.form-control {
  padding: 5px 10px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 50px; }

.control-label {
  font-size: 1.4rem;
  margin-bottom: 4px;
  width: 300px; }

select {
  border: 1px solid rgba(0, 0, 0, 0.2); }

.info-block {
  width: 170px;
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 40px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  position: relative;
  display: none; }
  .info-block__close {
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 15px;
    cursor: pointer; }

.custom-btn {
  margin-top: 0; }
