﻿@model IEnumerable<DataAccessLayer.Entities.Contingent>
@*@model IEnumerable<DataAccessLayer.Entities.Contingent>*@

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/Plan/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
}


@section Content{
    <div class="my-5 w-75 mx-auto">
        <table>
            <tr class="text-center">
                <th />
                @for (int i = 1; i <= 5; i++)
                {
                    <th colspan="5">
                        <div>
                            @i курс
                        </div>
                    </th>
                }
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Speciality.Name)
                </th>
                @for (int i = 0; i < 5; i++)
                {

                    <th class="rotate border-left border-dark">
                        <div>
                            Бюджет
                        </div>
                    </th>
                    <th class="rotate">
                        <div>
                            Внебюджет
                        </div>
                    </th>
                    <th class="rotate">
                        <div>
                            Иностранцы
                        </div>
                    </th>
                    <th class="rotate">
                        <div>
                            Бюджет групп
                        </div>
                    </th>
                    <th class="rotate">
                        <div>
                            Внебюджет групп
                        </div>
                    </th>
                }
            </tr>

            @foreach (var contingent in Model)
            {
                <tr id="@(@contingent.Id!=0?"c"+@contingent.Id:"s"+@contingent.SpecialityId)">
                    <td  class="py-1 pr-1">
                        @Html.DisplayFor(modelItem => contingent.Speciality.Cipher)-@Html.DisplayFor(modelItem => contingent.Speciality.Name)
                    </td>
                    @foreach (var course in contingent.Courses)
                    {
                        <td class="border-left border-dark px-1">
                            <input class="form-control px-1" value="@course.Budget" />
                        </td>
                        <td class="px-1">
                            <input class="form-control px-1" value="@course.OffBudget" />
                        </td>
                        <td class="px-1">
                            <input class="form-control px-1" value="@course.Foreign" />
                        </td>
                        <td class="px-1">
                            <input class="form-control px-1" value="@course.BudgetGroups" />
                        </td>
                        <td class="px-1">
                            <input class="form-control px-1" value="@course.OffBudgetGroups" />
                        </td>
                    }
                </tr>
            }

        </table>
        <button class="btn btn-primary mt-4" onclick="saveContingents()">Сохранить</button>
    </div>
}
