﻿@model DataAccessLayer.Entities.Subject
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/Discipline/discipline_create_form.css")">
}


@section Content{
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "discipline-create-form" }))
    {
        @Html.AntiForgeryToken()

        <h4 class="discipline-create-form__title">Дисциплина</h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.PlanId, "План", htmlAttributes: new { @class = "discipline-create-form__label" })
                <div>
                    @Html.DropDownList("Discipline.PlanId", ViewBag.PlanId as SelectList, htmlAttributes: new { @class = "discipline-create-form__input" })
                    @Html.ValidationMessageFor(model => model.PlanId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SemesterNumber, htmlAttributes: new { @class = "discipline-create-form__label" })
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.LabelFor(model => model.SemesterNumber, "План", htmlAttributes: new { @class = "discipline-create-form__label" });*@


        @*#line default
            #line hidden

            #line 12 "D:\asp.net\rep\departmentwebapp\DepartmentWebApplication\DepartmentWebApplication\DepartmentWebApplication\Views\Disciplines\Create.cshtml"
                                __o = Html.DropDownList("Discipline.PlanId", ViewBag.PlanId as SelectList, htmlAttributes: new { @class = "discipline-create-form__input" });


            #line default
            #line hidden

            #line 13 "D:\asp.net\rep\departmentwebapp\DepartmentWebApplication\DepartmentWebApplication\DepartmentWebApplication\Views\Disciplines\Create.cshtml"
                                __o = Html.ValidationMessageFor(model => model.Discipline.PlanId, "", new { @class = "text-danger" });


            #line default
            #line hidden

            #line 14 "D:\asp.net\rep\departmentwebapp\DepartmentWebApplication\DepartmentWebApplication\DepartmentWebApplication\Views\Disciplines\Create.cshtml"




            #line default
            #line hidden

            #line 15 "D:\asp.net\rep\departmentwebapp\DepartmentWebApplication\DepartmentWebApplication\DepartmentWebApplication\Views\Disciplines\Create.cshtml"
                                __o = Html.LabelFor(model => model.SemesterNumber, htmlAttributes: new { @class = "discipline-create-form__label" });


            #line default
            #line hidden

            #line 16 "D:\asp.net\rep\departmentwebapp\DepartmentWebApplication\DepartmentWebApplication\DepartmentWebApplication\Views\Disciplines\Create.cshtml"
                                __o = Html.EditorFor(model => model.SemesterNumber, new { htmlAttributes = new { @class = "discipline-create-form__input" } });


            #line default
            #line hidden

            #line 17 "D:\asp.net\rep\departmentwebapp\DepartmentWebApplication\DepartmentWebApplication\DepartmentWebApplication\Views\Disciplines\Create.cshtml"
                                __o = Html.ValidationMessageFor(model => model.SemesterNumber, "", new { @class = "text-danger" })
                            </div>
                        </div*@

@*<div class="form-group">
        @Html.LabelFor(model => model.Discipline.SequentialNumber, htmlAttributes: new { @class = "discipline-create-form__label" })
        <div>
            @Html.EditorFor(model => model.Discipline.SequentialNumber, new { htmlAttributes = new { @class = "discipline-create-form__input" } })
            @Html.ValidationMessageFor(model => model.Discipline.SequentialNumber, "", new { @class = "text-danger" })
        </div>
    </div>*@

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "discipline-create-form__label" })
    <div>
        @Html.EditorFor(model => model.Name, new
        {
            htmlAttributes = new
            {
                @class = "discipline-create-form__input",
       @onchange = "WriteAbbreviation(Discipline_NameAbbreviated, this.value)"
            }
        })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.NameAbbreviated, htmlAttributes: new { @class = "discipline-create-form__label" })
    <div>
        @Html.EditorFor(model => model.NameAbbreviated, new { htmlAttributes = new { @class = "discipline-create-form__input" } })
        @Html.ValidationMessageFor(model => model.NameAbbreviated, "", new { @class = "text-danger" })
    </div>
</div>

@*<div class="form-group">
        @Html.LabelFor(model => model.Control, htmlAttributes: new { @class = "discipline-create-form__label" })
        <div>
            @Html.EnumDropDownListFor(model => model.Control, null, htmlAttributes: new { @class = "discipline-create-form__input" })
            @Html.ValidationMessageFor(model => model.Control, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CourseType, htmlAttributes: new { @class = "discipline-create-form__label" })
        <div>
            @Html.EnumDropDownListFor(model => model.CourseType, null, htmlAttributes: new { @class = "discipline-create-form__input" })
            @Html.ValidationMessageFor(model => model.CourseType, "", new { @class = "text-danger" })
        </div>
    </div>*@

@*<div class="form-group">
        @Html.LabelFor(model => model.Lectures, htmlAttributes: new { @class = "discipline-create-form__label" })
        <div>
            @Html.EditorFor(model => model.Lectures, new { htmlAttributes = new { @class = "discipline-create-form__input" } })
            @Html.ValidationMessageFor(model => model.Lectures, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Labs, htmlAttributes: new { @class = "discipline-create-form__label" })
        <div>
            @Html.EditorFor(model => model.Labs, new { htmlAttributes = new { @class = "discipline-create-form__input" } })
            @Html.ValidationMessageFor(model => model.Labs, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Practices, htmlAttributes: new { @class = "discipline-create-form__label" })
        <div>
            @Html.EditorFor(model => model.Practices, new { htmlAttributes = new { @class = "discipline-create-form__input" } })
            @Html.ValidationMessageFor(model => model.Practices, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Seminars, htmlAttributes: new { @class = "discipline-create-form__label" })
        <div>
            @Html.EditorFor(model => model.Seminars, new { htmlAttributes = new { @class = "discipline-create-form__input" } })
            @Html.ValidationMessageFor(model => model.Seminars, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Independents, htmlAttributes: new { @class = "discipline-create-form__label" })
        <div>
            @Html.EditorFor(model => model.Independents, new { htmlAttributes = new { @class = "discipline-create-form__input" } })
            @Html.ValidationMessageFor(model => model.Independents, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ksr, htmlAttributes: new { @class = "discipline-create-form__label" })
        <div>
            @Html.EditorFor(model => model.Ksr, new { htmlAttributes = new { @class = "discipline-create-form__input" } })
            @Html.ValidationMessageFor(model => model.Ksr, "", new { @class = "text-danger" })
        </div>
    </div>*@

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Добавить дисциплину" class="custom-btn" />
    </div>
</div>
}

    <div>
        @Html.ActionLink("Back to List", "Index", "Plan")
    </div>
}