﻿@model DataAccessLayer.Entities.Discipline

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Discipline</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Plan.Speciality)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Plan.Speciality)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SequentialNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SequentialNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NameAbbreviated)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameAbbreviated)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Control)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Control)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CourseType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CourseType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lectures)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lectures)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Labs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Labs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Practices)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Practices)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Seminars)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Seminars)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Audits)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Audits)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Independents)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Independents)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ksr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ksr)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
