﻿@model IEnumerable<DataAccessLayer.Entities.Subject>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Plan.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SequentialNumber)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameAbbreviated)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Lectures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Labs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seminars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Audits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Independents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ksr)
            </th>
            <th>
                Кафедра
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Plan.Speciality.NameAbbreviated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SequentialNumber)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameAbbreviated)
                </td>
        
                <td>
                    @Html.DisplayFor(modelItem => item.Lectures)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Labs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Practices)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seminars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Audits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Independents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ksr)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
