﻿@model DataAccessLayer.Faculty

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE html>


@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainStyles/form.css")">
}

@section Content{
     @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "custom-form" })) 
    {
        @Html.AntiForgeryToken()
        
        <div>
            <h4 class="custom-form__title">Создание Факультета</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "custom-form__text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name,  htmlAttributes: new { @class = "custom-form__label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "custom-form__input" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>
    
                
            <input type="submit" value="Добавить факультет" class="custom-btn" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "custom-btn" }) 
        </div>
    }
    
    <div>
        
    </div>
    
}
