﻿@model DataAccessLayer.Department

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainStyles/form.css")">
}


@section Content{
     @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "custom-form" })) 
    {
        @Html.AntiForgeryToken()
        
        <div>
            <h4 class="custom-form__title">Создание Кафедры</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "custom-form__text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FacultyId, htmlAttributes: new { @class = "custom-form__label" })
                <div class="col-md-10">
                    @Html.DropDownList("FacultyId", null, htmlAttributes: new { @class = "custom-form__input" })
                    @Html.ValidationMessageFor(model => model.FacultyId, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "custom-form__label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "custom-form__input", @onchange = "WriteAbbreviation(NameAbbreviated, this.value)" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NameAbbreviated, htmlAttributes: new { @class = "custom-form__label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameAbbreviated, new { htmlAttributes = new { @class = "custom-form__input" } })
                    @Html.ValidationMessageFor(model => model.NameAbbreviated, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>
    
                
            <input type="submit" value="Добавить факультет" class="custom-btn" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "custom-btn" }) 
        </div>
    }
    
    <div>
        
    </div>
    
}



@* @section Content{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Кафедра</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FacultyId, "FacultyId", htmlAttributes: new { @class = "control-label " })
                <div class="col-md-10">
                    @Html.DropDownList("FacultyId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FacultyId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @onchange = "WriteAbbreviation(NameAbbreviated, this.value)" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NameAbbreviated, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameAbbreviated, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameAbbreviated, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
     }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
} *@