﻿@model IEnumerable<DataAccessLayer.Department>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainStyles/table.css")">
}


@section Content{
     <p>
        @Html.ActionLink("Добавить кафедру", "Create", null, new {@class = "custom-btn custom-table__create-btn"} )
    </p>
    <table class="custom-table-list">
        <caption class="custom-table-list__caption">Кафедры</caption>
        <tr class="custom-table-list__row-headline">
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th class="custom-table-list__item-headline">
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="custom-table-list__row">
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.Faculty.Name)
                </td>
                <td class="custom-table-list__item">
                   @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

}
