﻿@model IEnumerable<DataAccessLayer.Entities.Setting>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
}

@section Content{
    <div class="text-center my-5">
        <table class="table w-50 mx-auto">
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Значение
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
}
