﻿@model DataAccessLayer.Entities.Plan

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainStyles/form.css")">
}

@section Content{
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "custom-form" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <h4 class="custom-form__title">Создание Учебного плана</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "custom-form__text-danger" })

            <div class="group">
                @Html.LabelFor(model => model.Speciality.Name, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EditorFor(model => model.Speciality.Name, new
                    {
                        htmlAttributes = new
                        {
                            @class = "custom-form__input",
                   @onchange = "WriteAbbreviation(Speciality_NameAbbreviated, this.value)"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.Speciality.Name, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>
            <div class="group">
                @Html.LabelFor(model => model.Speciality.NameAbbreviated, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EditorFor(model => model.Speciality.NameAbbreviated, new { htmlAttributes = new { @class = "custom-form__input" } })
                    @Html.ValidationMessageFor(model => model.Speciality.NameAbbreviated, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>
            <div class="group">
                @Html.LabelFor(model => model.Specialization, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EditorFor(model => model.Specialization, new { htmlAttributes = new { @class = "custom-form__input" } })
                    @Html.ValidationMessageFor(model => model.Specialization, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>
            <div class="group">
                @Html.LabelFor(model => model.Speciality.Cipher, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EditorFor(model => model.Speciality.Cipher, new { htmlAttributes = new { @class = "custom-form__input" } })
                    @Html.ValidationMessageFor(model => model.Speciality.Cipher, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>
            <div class="group">
                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "custom-form__input" } })
                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>
            <div class="group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EditorFor(model => model.Date, "{0:yyyy-MM-dd}", new
                    {
                        htmlAttributes = new
                        {
                            @class = "custom-form__input",
                            @type = "date",
                            @Value = Model.Date.ToString("yyyy-MM-dd")
                        }
                    })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>
            <div class="group">
                @Html.LabelFor(model => model.RegNumber, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EditorFor(model => model.RegNumber, new { htmlAttributes = new { @class = "custom-form__input" } })
                    @Html.ValidationMessageFor(model => model.RegNumber, "", new { @class = "custom-form__text-danger" })
                </div>

            </div>
            <div class="group">
                @Html.LabelFor(model => model.Stage, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EnumDropDownListFor(model => model.Stage, htmlAttributes: new { @class = "custom-form__input" })
                    @Html.ValidationMessageFor(model => model.Stage, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>
            <div class="group">
                @Html.LabelFor(model => model.FormStudy, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EnumDropDownListFor(model => model.FormStudy, htmlAttributes: new { @class = "custom-form__input" })
                    @Html.ValidationMessageFor(model => model.FormStudy, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>
            <div class="group">
                @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "custom-form__label" })
                <div>
                    @Html.EnumDropDownListFor(model => model.Budget, htmlAttributes: new { @class = "custom-form__input" })
                    @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "custom-form__text-danger" })
                </div>
            </div>

            <input type="submit" value="Добавить план" class="custom-btn" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "custom-btn" })
        </div>

    }
}