﻿@model DataAccessLayer.Entities.Plan

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Plan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Speciality.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Speciality.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Specialization)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Specialization)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Speciality.Cipher)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Speciality.Cipher)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Stage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Stage)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
