﻿@model DataAccessLayer.Entities.Plan
@using DepartmentWebApplication.Extensions;
@using DataAccessLayer.Enums;


@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/Plan/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/Plan/semester-form.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/Discipline/discipline-add-form.css")">
}


@section Content{
    <div class="plan-wrapper">
        <header class="plan-header">
            <div class="plan-header__info">
                <p>@Html.DisplayFor(model => model.Date)</p>
                <p>рег. номер @Html.DisplayFor(model => model.RegNumber)</p>
            </div>
            <div class="plan-header__info">
                <h1>Учебный план</h1>
                <p>Специальность @Html.DisplayFor(model => model.Speciality.Name)</p>
                <p>Специализация @Html.DisplayFor(model => model.Specialization)</p>
                <p>Форма получения образования  @Model.FormStudy.GetDisplayName()</p>

            </div>
            <div class="plan-header__info">
                <p>@Model.Stage.GetDisplayName()</p>
                <p>Срок обучения @Html.DisplayFor(model => model.Duration) года</p>
            </div>
        </header>

        @using (Html.BeginForm("Details", "Plan", FormMethod.Post, new { @class = "semester-form" }))
        {
            @Html.AntiForgeryToken();
            if (Model.Semesters.Count == 0)
            {
                for (int i = 0; i < 8; i++)
                {
                    <div class="semester">
                        <span>@(@i + 1) семестр</span>
                        <input name="semesters" type="number" value="17"> <span>недель</span>
                        <label onclick="deleteSemester(this)">-</label>
                    </div>
                }
            }
            else
            {
                foreach (var semester in Model.Semesters)
                {
                    <div class="semester">
                        <span>@semester.Number семестр</span>
                        <input name="semesters" type="number" value="@semester.Duration"> <span>недель</span>
                        <label onclick="deleteSemester(this)">-</label>
                    </div>
                }
            }

            <label id="add" onclick="addSemesterToEnd()">+</label>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-default" onclick="setSelected()" />
                </div>
            </div>
        }
        <section>

            <table class="plan-table">
                <tr class="plan-table__row">
                    <th class="plan-table__head-item">№</th>
                    <th class="plan-table__head-item">Название дисциплины</th>
                    <th class="plan-table__head-item item_rotated">Семестр</th>
                    <th class="plan-table__head-item item_rotated">Вид контроля</th>
                    <th class="plan-table__head-item item_rotated">Тип курсовой</th>
                    <th class="plan-table__head-item item_rotated">Лекции</th>
                    <th class="plan-table__head-item item_rotated">Лабораторные</th>
                    <th class="plan-table__head-item item_rotated">Практические</th>
                    <th class="plan-table__head-item item_rotated">Семинарские</th>
                    <th class="plan-table__head-item item_rotated">Аудиторные</th>
                    <th class="plan-table__head-item item_rotated">Самостоятельная работа</th>
                    <th class="plan-table__head-item item_rotated">КСР</th>
                    <th class="plan-table__head-item item_rotated">Всего</th>
                </tr>

                @{int sequentialNumber = 0;}
                @foreach (var discipline in Model.Disciplines)
                {
                    <tr class="plan-table__row">
                        <td class="plan-table__item">@(++sequentialNumber)</td>
                        <td class="plan-table__item">@discipline.Subject.Name (@discipline.Subject.NameAbbreviated)</td>
                        <td class="plan-table__item">@discipline.SemesterNumber</td>
                        @if (discipline.Control == null)
                        {
                            <td class="plan-table__item">-</td>
                        }
                        else
                        {
                            if (discipline.Control == DataAccessLayer.Enums.Control.Credit)
                            {
                                <td class="plan-table__item">Зачет</td>
                            }
                            else
                            {
                                <td class="plan-table__item">Экзамен</td>
                            }
                        }


                        @if (discipline.CourseType == null)
                        {
                            <td class="plan-table__item">-</td>
                        }
                        else
                        {
                            if (discipline.CourseType == CourseType.Project)
                            {
                                <td class="plan-table__item">Проект</td>
                            }
                            else
                            {
                                <td class="plan-table__item">Работа</td>
                            }
                        }

                        <td class="plan-table__item">@discipline.Lectures</td>
                        <td class="plan-table__item">@discipline.Labs</td>
                        <td class="plan-table__item">@discipline.Practices</td>
                        <td class="plan-table__item">@discipline.Seminars</td>
                        <td class="plan-table__item">@discipline.Audits</td>
                        <td class="plan-table__item">@discipline.Independents</td>
                        <td class="plan-table__item">@discipline.Ksr</td>
                        <td class="plan-table__item">@discipline.All</td>
                    </tr>
                }

                @*Добавление дисциплины с этой же страницы
                    <tr>
                        <td>
                            <input type="number">
                        </td>
                    </tr>*@
            </table>


            <table class="plan-table">

                <tr class="plan-table__row">
                    <th class="plan-table__head-item">
                        Курс
                    </th>
                    <th class="plan-table__head-item">
                        Тип практики
                    </th>
                    <th class="plan-table__head-item">
                        Длительность (недель)
                    </th>
                    <th class="plan-table__head-item"></th>
                </tr>

                @foreach (var practice in Model.Practices)

                {
                    <tr class="plan-table__row">
                        <td class="plan-table__item">@practice.Course</td>
                        @if (practice.PracticeType == PracticeType.Educational)
                        {
                            <td class="plan-table__item">Учебная</td>
                        }
                        else
                        {
                            <td class="plan-table__item">Производственная</td>
                        }
                        <td class="plan-table__item">@practice.Duration</td>
                        <td class="plan-table__item">
                            @Html.ActionLink("Редактировать", "Edit", "Practices", new { id = practice.Id }, new { htmlAttributes = "" })
                            @Html.ActionLink("Удалить", "Delete", "Practices", new { id = practice.Id }, new { htmlAttributes = "" })
                        </td>
                    </tr>
                }


            </table>

            @Html.ActionLink("Добавить дисциплину в план", "Create", "Disciplines", new { id = Model.Id }, new { htmlAttributes = "" })
            @Html.ActionLink("Добавить практику в план", "Create", "Practices", new { id = Model.Id }, new { htmlAttributes = "" })

        </section>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })|
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>

    <script src="~/Scripts/semster-form-script.js"></script>
}