﻿@model IEnumerable<DataAccessLayer.Entities.Plan>

@using DepartmentWebApplication.Extensions;

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainStyles/table.css")">
}


@section Content{
    <p>
        @Html.ActionLink("Создать новый план", "Create", null, new { @class = "custom-btn custom-table__create-btn" })
    </p>
    <table class="custom-table-list">
        <caption class="custom-table-list__caption">Учебные планы</caption>
        <tr class="custom-table-list__row-headline">
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.Speciality.Name)
            </th>
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.Speciality.Cipher)
            </th>
            <th class="custom-table-list__item-headline">
                Срок обучения
            </th>
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.RegNumber)
            </th>
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.FormStudy)
            </th>
            <th class="custom-table-list__item-headline">
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th class="custom-table-list__item-headline"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="custom-table-list__row">
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.Speciality.Name) (@Html.DisplayFor(modelItem => item.Speciality.NameAbbreviated))
                </td>
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.Specialization)
                </td>
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.Speciality.Cipher)
                </td>
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="custom-table-list__item">
                    @Html.DisplayFor(modelItem => item.RegNumber)
                </td>
                <td class="custom-table-list__item">
                    @item.Stage.GetDisplayName()
                </td>
                <td class="custom-table-list__item">
                    @item.FormStudy.GetDisplayName()
                </td>
                <td class="custom-table-list__item">
                    @item.Budget.GetDisplayName()
                </td>
                <td class="custom-table-list__item">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}