@import "_colors"

.page
  min-height: 100vh
  position: relative
  background-size: cover !important

.page__content
  padding-top: 60px

.page__line_xl-width
  width: 90%
  margin: auto

.page__line_all-width
  width: 100%

.page__header
  position: absolute
  width: 100%

.main-header
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 60px
    position: relative

  &__logo
    width: 60px
    position: relative
    top: 10px
    margin-right: 20px
 
  &__program-name
    position: relative
    display: flex
    align-items: center

  &_dark-theme
    background-color: $main-header-dark
    color: #ffffff

  &__menu-btn
    color: $light-font
    font-size: 2.3rem
    cursor: pointer
    transition: 0.2s all 
    user-select: none

.navigation
  display: none
  flex-direction: column
  background-color: $main-header-dark
  position: absolute
  top: 50px
  right: 0
  padding: 10px 40px

.navigation__item
  margin: 0

.button_light-theme
  padding: 5px 7px
  color: #ffffff
  transition: 0.1s all ease

  &:hover
    color: rgba(255, 255, 255, 0.7)
    transition: 0.1s all ease
    
.light-btn
  background-color: #cccccc
  border: 1px solid rgba(15,15,15,0.5)
  padding: 3px 5px
  border-radius: 4px
  color: #3c3c3c


.rotate
    height: 140px
    white-space: nowrap


.rotate div
    transform: translate(25px, 51px) rotate(-90deg)
    width: 30px

