body {
  font-family: Arial, Helvetica, sans-serif; }

.custom-form {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 400px;
  margin: 50px auto;
  background-color: #FBFBFB;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .custom-form__input {
    border: 1px solid #EBEBEB;
    padding: 5px 7px;
    width: 70%; }
  .custom-form__label {
    color: #787A7B;
    margin-top: 10px;
    display: inline-block; }
  .custom-form__title {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 2.3rem; }
  .custom-form__text-danger {
    font-size: 1.1rem;
    color: red;
    display: block; }
