* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html {
  font-size: 10px; }

body {
  font-size: 1.4rem;
  font-family: 'Nunito', sans-serif; }

.custom-btn {
  background-color: #0369B4;
  border: none;
  padding: 7px 10px;
  color: #fff;
  margin-top: 20px;
  font-size: 1.3rem;
  cursor: pointer; }
