@import "Styles/MainStyles/colors"
.custom-table-wrapper
  padding: 0 40px
.custom-table-header
  display: flex
  justify-content: space-between
  font-size: 1.3rem
  margin-top: 40px

.custom-table-header__info
  flex: 1

  &:nth-of-type(2)
    flex: 2
    text-align: center



.custom-table__head-item
  padding: 5px
  border: 1px solid rgba($table-header, 0.5)
  background-color: $table-header
  color: $table-head-font

.custom-table__item
  padding: 5px
  font-size: 1.3rem
  border: 1px solid rgba($table-header, 0.5)
  color: $table-font

.custom-table__row
  background-color: $table-items

.custom-table-list
  border-collapse: collapse
  margin: 0 auto
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

  &__row
    background-color: $table-items

    &-headline
      background-color: $table-header

  &__item
    padding: 5px
    font-size: 1.3rem
    border: 1px solid rgba($table-header, 0.5)
    color: $table-font

    &-headline
      color: $table-head-font
      padding: 5px
  &__caption
    font-size: 2.5rem
    margin-bottom: 2rem

.custom-table__create-btn
  margin: 20px 0 20px 20px
  display: inline-block