.custom-table-wrapper {
  padding: 0 40px; }

.custom-table-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-top: 40px; }

.custom-table-header__info {
  flex: 1; }
  .custom-table-header__info:nth-of-type(2) {
    flex: 2;
    text-align: center; }

.custom-table__head-item {
  padding: 5px;
  border: 1px solid rgba(196, 108, 26, 0.5);
  background-color: #C46C1A;
  color: #ececec; }

.custom-table__item {
  padding: 5px;
  font-size: 1.3rem;
  border: 1px solid rgba(196, 108, 26, 0.5);
  color: #4e4e4e; }

.custom-table__row {
  background-color: #ffffff; }

.custom-table-list {
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .custom-table-list__row {
    background-color: #ffffff; }
    .custom-table-list__row-headline {
      background-color: #C46C1A; }
  .custom-table-list__item {
    padding: 5px;
    font-size: 1.3rem;
    border: 1px solid rgba(196, 108, 26, 0.5);
    color: #4e4e4e; }
    .custom-table-list__item-headline {
      color: #ececec;
      padding: 5px; }
  .custom-table-list__caption {
    font-size: 2.5rem;
    margin-bottom: 2rem; }

.custom-table__create-btn {
  margin: 20px 0 20px 20px;
  display: inline-block; }
