﻿
table {
    table-layout: fixed;
    width: 100%;
    font-size: 20px;
    border: 1px solid black;
}

td {
    word-wrap: break-word;
    border: 1px solid black;
    text-align: center;
}

h2, h3, h4, th {
    text-align: center;
}

.title {
    text-align: left;
    width: 20%;
}

#head {
    position: fixed;
    background: #fff;
    z-index: 1000;
    top: -20px;
    padding-top: 40px;    
}

.semester {
    margin-top: 340px;
    margin-bottom: -270px;
    margin-right: -8px;
}

.navigation {
    margin-top: 320px;
}

.total-title {
    width: 30%;
}

.view {
    padding-right: 10px;
    float:right;
}