﻿/* form starting stylings ------------------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.group {
    position: relative;
    margin-bottom: 30px;
}

input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
}

    input:focus {
        outline: none;
    }


/* LABEL ======================================= */

label {
    color: rgb(150, 150, 150);
    font-size: 15px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus ~ label,
input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #5264AE;
}


/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 320px;
}

    .bar:before,
    .bar:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }


/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

.custom-select {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid#ccc;
    padding: 5px 8px;
    width: 320px;
    color: black;
    font-size: 15px;
}

    .custom-select:focus {
        border-bottom: 1px solid #5264AE;
    }

        .custom-select:focus ~ label {
            opacity: 1;
            top: -15px;
            font-size: 14px;
            color: #5264AE;
        }

    .custom-select ~ label {
        opacity: 0;
    }
