﻿@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainPage/main-page.css")">
}

@section Content{
    <div class="view-line">
        <img class="view-line__image" src="@Url.Content("~/Content/Images/MainPage/main-theme.jpg")" alt="main-theme">
    </div>
}

