﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <div>
        <p>@ViewBag.Message</p>
    </div>
    <div>
        <a href="/">На Главную</a>
        @Html.ActionLink("В настройки", "Index", "Settings")
    </div>
</body>
</html>
