.discipline-create-form {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 400px;
  margin: 50px auto;
  background-color: #FBFBFB;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .discipline-create-form__input {
    border: 1px solid #EBEBEB;
    padding: 5px 7px;
    width: 70%; }
  .discipline-create-form__label {
    color: #787A7B;
    margin-top: 10px;
    display: inline-block; }
  .discipline-create-form__title {
    margin-bottom: 10px;
    color: #787A7B;
    font-size: 2.3rem; }
