﻿@import "Styles/MainStyles/colors"


.discipline-create-form
  display: flex
  flex-direction: column
  padding: 20px 40px
  width: 400px
  margin: 50px auto
  background-color: $form-bg
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  &__input
    border: 1px solid $form-border
    padding: 5px 7px
    width: 70%
  &__label
    color: $form-font
    margin-top: 10px
    display: inline-block
  &__title
    margin-bottom: 10px
    color: $form-font
    font-size: 2.3rem