﻿@model DataAccessLayer.Entities.StateDocument

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns " crossorigin="anonymous "></script>
}

@section Content{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="mx-auto border w-25 px-4 py-2 m-5 ">
            <h4 class="text-center">Штат</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="FormationDate" value="@DateTime.Now" />

            @Html.LabelFor(model => model.Date, "Год", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12 form-group">
                @Html.EditorFor(model => model.Date,"Date", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Budget, "Бюджет", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12 form-group">
                @Html.EnumDropDownListFor(model => model.Budget, htmlAttributes: new { @class = "form-control w-25" })
                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "custom-form__text-danger" })
            </div>

            @Html.LabelFor(model => model.DepartmentId, "Кафедра", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12 form-group">
                @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-12 mt-3 d-flex justify-content-center">
                <input type="submit" value="Сформировать" class="btn btn-link border rounded col-5 mx-1" />
                @Html.ActionLink("Отмена", "Index", null, htmlAttributes: new { @class = "btn btn-link border rounded col-5 mx-1" })
            </div>
        </div>
    }
}
