﻿@model DataAccessLayer.Entities.StateDocument

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml"; ;
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns " crossorigin="anonymous "></script>
}

@section Content{
    <div class="container p-3">
        <div class="border bg-light w-25  mx-auto p-3 mt-5">
            <h5 class="text-center">Вы действительно хотите удалить этот штат?</h5>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

               <div class="d-flex justify-content-center mt-3">
                   <div class="mx-auto">
                       <input type="submit" value="Удалить" class="btn btn-link border rounded col-5 mx-1" />
                       @Html.ActionLink("Отмена", "Index", null, htmlAttributes: new { @class = "btn btn-link border rounded col-5 mx-1" })
                   </div>
               </div>
                
            }
        </div>
    </div>
}