﻿@model DataAccessLayer.Entities.StateDocument
@using DataAccessLayer.Entities
@using DataAccessLayer.Enums



@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/Styles/States/states-style.css">
</head>
<body>
    <div id="head">
        @{StateDocument state = ViewBag.State; }
        <div class="view">
            <button id="semesters-btn" onclick="sortBySemesters()" disabled="disabled">По семестрам</button>
            <button id="form-btn" onclick="sortByForm()">По формам обучения</button>
        </div>
        <h2>
            РАБОТА ПО КАФЕДРЕ "@Model.Department.Name",
            по  @if (state.Budget == Budget.Rb)
            {
                <span>Белорусским</span>
            }
            else
            {
                <span>Российским</span>
            }  образовательным программам,
            @{int year = Model.Date.Year;}
            ШТАТЫ НА  @year-@(year + 1)
            уч. год
        </h2>

        <table>
            <tr>
                <td rowspan="6">№ пп</td>
                <td rowspan="6" class="title"> Наименование дисциплины</td>
                <td rowspan="6">Курс</td>
                <td colspan="23">Нагрузка на бюджетной основе</td>
            </tr>
            <tr>
                <td colspan="4">Количество</td>
                <td colspan="2">Лекций</td>
                <td colspan="2">Лаб</td>
                <td colspan="2">Практ.</td>
                <td rowspan="3">Модульно-рейтинговая система</td>
                <td rowspan="3">Инд. задания</td>
                <td rowspan="3">Курсовое проектир.</td>
                <td rowspan="3"> Консультаций</td>
                <td rowspan="3">Рецензирование контрольных работ</td>
                <td rowspan="3">Зачеты</td>
                <td rowspan="3">Экзамены</td>
                <td colspan="2">Практика</td>
                <td rowspan="3">Дипломное проектир.</td>
                <td rowspan="3">ГЭК / ГАК (студенты и маг.)</td>
                <td rowspan="3">Аспирантура</td>
                <td rowspan="3">Всего учебных часов</td>
            </tr>
            <tr>
                <td rowspan="2" class="rotatable">Студентов</td>
                <td rowspan="2">потоков</td>
                <td rowspan="2">групп</td>
                <td rowspan="2">подгрупп в группах</td>
                <td colspan="2">часов</td>
                <td colspan="2">часов</td>
                <td colspan="2">часов</td>
                <td rowspan="2">Учебная практика</td>
                <td rowspan="2">Производств. практика</td>
            </tr>
            <tr>
                <td>по плану</td>
                <td>Всего</td>
                <td>по плану</td>
                <td>Всего</td>
                <td>по плану</td>
                <td>Всего</td>
            </tr>
            <tr>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td></td>
                <td>Б</td>
                <td></td>
                <td>Б</td>
                <td></td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
                <td>Б</td>
            </tr>
            <tr>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td></td>
                <td>В</td>
                <td></td>
                <td>В</td>
                <td></td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
                <td>В</td>
            </tr>

        </table>
    </div>

    @{ int index = 0;}
    @{
        var sortedByFormOfStudy = state.StateBlocks.OrderBy(b => b.FormStudy).ToList();
    }

    @foreach (StateBlock block in state.StateBlocks)
    {

        <div class="semester by-semester">
            <h3>
                Студенты
                @if (block.Stage == Stage.First)
                {
                    <span>I</span>
                }
                else
                { <span>II</span>} ступени образования

                @if (block.TimeOfYear == TimeOfYear.Autumn)
                {
                    {<span>Осенний</span>}
                }
                else
                {
                    <span>Весенний</span>
                }  семестр

                @if (block.FormStudy == FormStudy.FullTime)
                {
                    <span>Очное</span>
                }
                else
                {
                    <span>Заочное</span>
                }
                отделение
            </h3>

            <table>
                @foreach (StateRow row in block.StateRows.Where(r => !block.StateExaminationComissionDisciplines.Contains(r)))
                {
                    <tr>
                        <td rowspan="2">@(++index)</td>
                        <td rowspan="2" class="title">@row.DisciplineName (@row.SpecialityName)</td>
                        <td rowspan="2">@row.Course</td>
                        <td>@row.BudgetStudents</td>
                        <td rowspan="2">@row.Streams</td>
                        <td>@row.BudgetGroups</td>
                        <td>@row.BudgetSubGroups</td>
                        <td rowspan="2">@row.LecturesPlan</td>
                        <td>
                            @if (row.BudgetGroups >= row.OffBudgetGroups)
                            {
                                <span>@row.Lectures </span>}
                            else
                            {
                                {<span>- </span>}
                            }
                        </td>
                        <td rowspan="2">@row.LabsPlan</td>
                        <td>@row.LabsBudget</td>
                        <td rowspan="2">@row.PracticePlan</td>
                        <td>@row.PracticeBudget</td>
                        <td>@row.ModuleRatingSystemBudget</td>
                        @*Индивидуальные задания*@
                        <td>-</td>
                        <td>@row.CourseProjectBudget</td>
                        <td>@row.ConsultationsBudget</td>
                        <td>@row.ReviewingTestsBudget</td>
                        <td>@row.OffsetsBudget</td>
                        <td>@row.ExamsBudget</td>
                        @*Практика*@
                        <td>@row.EducationPracticeBudget</td>
                        <td>@row.InternshipBudget</td>
                        @*Дипломное проектирование*@
                        <td>-</td>
                        @*ГЭК/ГАК*@
                        <td>-</td>
                        @*Аспирант.*@
                        <td>-</td>
                        <td>@row.TotalBudget</td>
                    </tr>
                    <tr>
                        <td>@row.OffBudgetStudents</td>
                        <td>@row.OffBudgetGroups</td>
                        <td>@row.OffBudgetSubGroups</td>
                        <td>
                            @if (row.BudgetGroups < row.OffBudgetGroups)
                            {
                                <span>@row.Lectures</span>}
                            else
                            {
                                {<span>- </span>}
                            }
                        </td>
                        <td>@row.LabsOffBudget</td>
                        <td>@row.PracticeOffBudget</td>
                        <td>@row.ModuleRatingSystemOffBudget</td>
                        @*Индивидуальные задания*@
                        <td>-</td>
                        <td>@row.CourseProjectOffBudget</td>
                        <td>@row.ConsultationsOffBudget</td>
                        <td>@row.ReviewingTestsOffBudget</td>
                        <td>@row.OffsetsOffBudget</td>
                        <td>@row.ExamsOffBudget</td>
                        @*Практика*@
                        <td>@row.EducationPracticeOffBudget</td>
                        <td>@row.InternshipOffBudget</td>
                        @*Дипломное проектирование*@
                        <td>-</td>
                        @*ГЭК/ГАК*@
                        <td>-</td>
                        @*Аспирант.*@
                        <td>-</td>
                        <td>@row.TotalOffBudget</td>
                    </tr>
                }
                @if (block.TimeOfYear == TimeOfYear.Spring && block.StateExaminationComissionDisciplines.Count != 0)
                {
                    <tr><td colspan="26">ГЭК / ГАК, Дипломное проектирование</td></tr>
                    foreach (StateRow row in block.StateExaminationComissionDisciplines)
                    {
                        <tr>
                            <td rowspan="2">@(++index)</td>
                            <td rowspan="2" class="title">@row.DisciplineName (@row.SpecialityName)</td>
                            <td rowspan="2">@row.Course</td>
                            <td>@row.BudgetStudents</td>
                            <td rowspan="2">@row.Streams</td>
                            <td>@row.BudgetGroups</td>
                            <td>@row.BudgetSubGroups</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@row.ThesisProjectBudget</td>
                            <td>@row.StateExaminationComissionBudget</td>
                            <td></td>
                            <td>@row.TotalBudget</td>
                        </tr>
                        <tr>
                            <td>@row.OffBudgetStudents</td>
                            <td>@row.OffBudgetGroups</td>
                            <td>@row.OffBudgetSubGroups</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@row.ThesisProjectOffBudget</td>
                            @*ГЭК/ГАК*@
                            <td>@row.StateExaminationComissionOffBudget</td>
                            <td></td>
                            <td>@row.TotalOffBudget</td>
                        </tr>
                    }
                }
                @*//Итого*@
                <tr>
                    <td colspan="3" rowspan="2" class="total-title">
                        Итого по
                        @if (block.FormStudy == FormStudy.FullTime)
                        {
                            <span>очному</span>
                        }
                        else
                        {
                            <span>заочному</span>
                        }
                        отделению
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@block.LecturesBudget</td>
                    <td></td>
                    <td>@block.LabsBudget</td>
                    <td></td>
                    <td>@block.PracticeBudget</td>
                    <td>@block.ModuleRatingSystemBudget</td>
                    <td>-</td>
                    <td>@block.CourseProjectBudget</td>
                    <td>@block.ConsultationsBudget</td>
                    <td>@block.ReviewingTestsBudget</td>
                    <td>@block.OffsetsBudget</td>
                    <td>@block.ExamsBudget</td>
                    <td>@block.StudyPracticeBudget</td>
                    <td>@block.ProductionPracticeBudget</td>
                    <td>@block.ThesisProjectBudget</td>
                    <td>@block.StateExaminationComissionBudget</td>
                    <td>-</td>
                    <td>@block.TotalBudget</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@block.LecturesOffBudget</td>
                    <td></td>
                    <td>@block.LabsOffBudget</td>
                    <td></td>
                    <td>@block.PracticeOffBudget</td>
                    <td>@block.ModuleRatingSystemOffBudget</td>
                    <td>-</td>
                    <td>@block.CourseProjectOffBudget</td>
                    <td>@block.ConsultationsOffBudget</td>
                    <td>@block.ReviewingTestsOffBudget</td>
                    <td>@block.OffsetsOffBudget</td>
                    <td>@block.ExamsOffBudget</td>
                    <td>@block.StudyPracticeOffBudget</td>
                    <td>@block.ProductionPracticeOffBudget</td>
                    <td>@block.ThesisProjectOffBudget</td>
                    <td>@block.StateExaminationComissionOffBudget</td>
                    <td>-</td>
                    <td>@block.TotalOffBudget</td>
                </tr>
                <tr>
                    <td colspan="3" class="total-title">
                        Всего по
                        @if (block.FormStudy == FormStudy.FullTime)
                        {
                            <span>очному</span>
                        }
                        else
                        {
                            <span>заочному</span>
                        }
                        отделению
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@block.Lectures</td>
                    <td></td>
                    <td>@block.LabsTotal</td>
                    <td></td>
                    <td>@block.PracticeTotal</td>
                    <td>@block.ModuleRatingSystemTotal</td>
                    <td>-</td>
                    <td>@block.CourseProjectTotal</td>
                    <td>@block.ConsultationsTotal</td>
                    <td>@block.ReviewingTestsTotal</td>
                    <td>@block.OffsetsTotal</td>
                    <td>@block.ExamsTotal</td>
                    <td>@block.StudyPracticeTotal</td>
                    <td>@block.ProductionPracticeTotal</td>
                    <td>@block.ThesisProjectTotal</td>
                    <td>@block.StateExaminationComission</td>
                    <td>-</td>
                    <td>@block.Total</td>
                </tr>
            </table>
        </div>
    }

    @{ int idx = 0;}

    @foreach (StateBlock block in sortedByFormOfStudy)
    {

        <div class="semester by-form-of-study" style="display:none">
            <h3>
                Студенты
                @if (block.Stage == Stage.First)
                {
                    <span>I</span>
                }
                else
                { <span>II</span>} ступени образования

                @if (block.TimeOfYear == TimeOfYear.Autumn)
                {
                    {<span>Осенний</span>}
                }
                else
                {
                    <span>Весенний</span>
                }  семестр

                @if (block.FormStudy == FormStudy.FullTime)
                {
                    <span>Очное</span>
                }
                else
                {
                    <span>Заочное</span>
                }
                отделение
            </h3>

            <table>
                @foreach (StateRow row in block.StateRows.Where(r => !block.StateExaminationComissionDisciplines.Contains(r)))
                {
                    <tr>
                        <td rowspan="2">@(++idx)</td>
                        <td rowspan="2" class="title">@row.DisciplineName (@row.SpecialityName)</td>
                        <td rowspan="2">@row.Course</td>
                        <td>@row.BudgetStudents</td>
                        <td rowspan="2">@row.Streams</td>
                        <td>@row.BudgetGroups</td>
                        <td>@row.BudgetSubGroups</td>
                        <td rowspan="2">@row.LecturesPlan</td>
                        <td>
                            @if (row.BudgetGroups >= row.OffBudgetGroups)
                            {
                                <span>@row.Lectures </span>}
                            else
                            {
                                {<span>- </span>}
                            }
                        </td>
                        <td rowspan="2">@row.LabsPlan</td>
                        <td>@row.LabsBudget</td>
                        <td rowspan="2">@row.PracticePlan</td>
                        <td>@row.PracticeBudget</td>
                        <td>@row.ModuleRatingSystemBudget</td>
                        @*Индивидуальные задания*@
                        <td>-</td>
                        <td>@row.CourseProjectBudget</td>
                        <td>@row.ConsultationsBudget</td>
                        <td>@row.ReviewingTestsBudget</td>
                        <td>@row.OffsetsBudget</td>
                        <td>@row.ExamsBudget</td>
                        @*Практика*@
                        <td>@row.EducationPracticeBudget</td>
                        <td>@row.InternshipBudget</td>
                        @*Дипломное проектирование*@
                        <td>-</td>
                        @*ГЭК/ГАК*@
                        <td>-</td>
                        @*Аспирант.*@
                        <td>-</td>
                        <td>@row.TotalBudget</td>
                    </tr>
                    <tr>
                        <td>@row.OffBudgetStudents</td>
                        <td>@row.OffBudgetGroups</td>
                        <td>@row.OffBudgetSubGroups</td>
                        <td>
                            @if (row.BudgetGroups < row.OffBudgetGroups)
                            {
                                <span>@row.Lectures</span>}
                            else
                            {
                                {<span>- </span>}
                            }
                        </td>
                        <td>@row.LabsOffBudget</td>
                        <td>@row.PracticeOffBudget</td>
                        <td>@row.ModuleRatingSystemOffBudget</td>
                        @*Индивидуальные задания*@
                        <td>-</td>
                        <td>@row.CourseProjectOffBudget</td>
                        <td>@row.ConsultationsOffBudget</td>
                        <td>@row.ReviewingTestsOffBudget</td>
                        <td>@row.OffsetsOffBudget</td>
                        <td>@row.ExamsOffBudget</td>
                        @*Практика*@
                        <td>@row.EducationPracticeOffBudget</td>
                        <td>@row.InternshipOffBudget</td>
                        @*Дипломное проектирование*@
                        <td>-</td>
                        @*ГЭК/ГАК*@
                        <td>-</td>
                        @*Аспирант.*@
                        <td>-</td>
                        <td>@row.TotalOffBudget</td>
                    </tr>
                }
                @if (block.TimeOfYear == TimeOfYear.Spring && block.StateExaminationComissionDisciplines.Count != 0)
                {
                    <tr><td colspan="26">ГЭК / ГАК, Дипломное проектирование</td></tr>
                    foreach (StateRow row in block.StateExaminationComissionDisciplines)
                    {
                        <tr>
                            <td rowspan="2">@(++index)</td>
                            <td rowspan="2" class="title">@row.DisciplineName (@row.SpecialityName)</td>
                            <td rowspan="2">@row.Course</td>
                            <td>@row.BudgetStudents</td>
                            <td rowspan="2">@row.Streams</td>
                            <td>@row.BudgetGroups</td>
                            <td>@row.BudgetSubGroups</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@row.ThesisProjectBudget</td>
                            <td>@row.StateExaminationComissionBudget</td>
                            <td></td>
                            <td>@row.TotalBudget</td>
                        </tr>
                        <tr>
                            <td>@row.OffBudgetStudents</td>
                            <td>@row.OffBudgetGroups</td>
                            <td>@row.OffBudgetSubGroups</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@row.ThesisProjectOffBudget</td>
                            @*ГЭК/ГАК*@
                            <td>@row.StateExaminationComissionOffBudget</td>
                            <td></td>
                            <td>@row.TotalOffBudget</td>
                        </tr>
                    }
                }
                @*//Итого*@
                <tr>
                    <td colspan="3" rowspan="2" class="total-title">
                        Итого по
                        @if (block.FormStudy == FormStudy.FullTime)
                        {
                            <span>очному</span>
                        }
                        else
                        {
                            <span>заочному</span>
                        }
                        отделению
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@block.LecturesBudget</td>
                    <td></td>
                    <td>@block.LabsBudget</td>
                    <td></td>
                    <td>@block.PracticeBudget</td>
                    <td>@block.ModuleRatingSystemBudget</td>
                    <td>-</td>
                    <td>@block.CourseProjectBudget</td>
                    <td>@block.ConsultationsBudget</td>
                    <td>@block.ReviewingTestsBudget</td>
                    <td>@block.OffsetsBudget</td>
                    <td>@block.ExamsBudget</td>
                    <td>@block.StudyPracticeBudget</td>
                    <td>@block.ProductionPracticeBudget</td>
                    <td>@block.ThesisProjectBudget</td>
                    <td>@block.StateExaminationComissionBudget</td>
                    <td>-</td>
                    <td>@block.TotalBudget</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@block.LecturesOffBudget</td>
                    <td></td>
                    <td>@block.LabsOffBudget</td>
                    <td></td>
                    <td>@block.PracticeOffBudget</td>
                    <td>@block.ModuleRatingSystemOffBudget</td>
                    <td>-</td>
                    <td>@block.CourseProjectOffBudget</td>
                    <td>@block.ConsultationsOffBudget</td>
                    <td>@block.ReviewingTestsOffBudget</td>
                    <td>@block.OffsetsOffBudget</td>
                    <td>@block.ExamsOffBudget</td>
                    <td>@block.StudyPracticeOffBudget</td>
                    <td>@block.ProductionPracticeOffBudget</td>
                    <td>@block.ThesisProjectOffBudget</td>
                    <td>@block.StateExaminationComissionOffBudget</td>
                    <td>-</td>
                    <td>@block.TotalOffBudget</td>
                </tr>
                <tr>
                    <td colspan="3" class="total-title">
                        Всего по
                        @if (block.FormStudy == FormStudy.FullTime)
                        {
                            <span>очному</span>
                        }
                        else
                        {
                            <span>заочному</span>
                        }
                        отделению
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@block.Lectures</td>
                    <td></td>
                    <td>@block.LabsTotal</td>
                    <td></td>
                    <td>@block.PracticeTotal</td>
                    <td>@block.ModuleRatingSystemTotal</td>
                    <td>-</td>
                    <td>@block.CourseProjectTotal</td>
                    <td>@block.ConsultationsTotal</td>
                    <td>@block.ReviewingTestsTotal</td>
                    <td>@block.OffsetsTotal</td>
                    <td>@block.ExamsTotal</td>
                    <td>@block.StudyPracticeTotal</td>
                    <td>@block.ProductionPracticeTotal</td>
                    <td>@block.ThesisProjectTotal</td>
                    <td>@block.StateExaminationComission</td>
                    <td>-</td>
                    <td>@block.Total</td>
                </tr>
            </table>
        </div>
    }



    <div id="nav" class="navigation">
        <p>
            @Html.ActionLink("Экспорт в .xlsx", "Import", new { id = Model.Id }) |
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <script src="~/Scripts/state_document.js"></script>
</body>
</html>
