﻿@model IEnumerable<DataAccessLayer.Entities.StateDocument>
@using DataAccessLayer.Extensions;

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns " crossorigin="anonymous "></script>
}

@section Content{
    <div class="mt-4 ml-3">

        @Html.ActionLink("Сформировать штат", "Create", null, htmlAttributes: new { @class = "btn btn-link border rounded mx-1" })
    </div>
    <table class="w-50 mx-auto text-center table table-striped table-bordered table-hover ">
        <tr bg-light>
            <th>
                Кафедра
            </th>
            <th>
                Год
            </th>
            <th>
                Бюджет
            </th>
            <th>
                Дата составления
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @{int year = item.Date.Year;}
                    @year-@(year+1)
                </td>
                <td>
                    <span>@item.Budget.GetDisplayName().ToUpper()</span>
                </td>
                <td>
                    @item.FormationDate
                </td>
                <td>
                    @Html.ActionLink("Просмотреть", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-link border rounded mx-1" }) 
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-link border rounded mx-1" })
                </td>
            </tr>
        }

    </table>
}