﻿@model DataAccessLayer.Entities.Load.DistributionPlan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DistributionPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discipline.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discipline.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetStudents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetStudents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffBudgetStudents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffBudgetStudents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetGroups)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetGroups)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffBudgetGroups)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffBudgetGroups)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lectures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lectures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Labs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Labs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Practice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Practice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleRatingSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleRatingSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndividualsTasks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualsTasks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consultations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewingTests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewingTests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offsets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offsets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exams)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationPractice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationPractice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Internship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Internship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThesisProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThesisProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateExaminationComission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateExaminationComission)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
