﻿

@using (Ajax.BeginForm("SearchInfo", new AjaxOptions { UpdateTargetId = "distr", InsertionMode = InsertionMode.Replace, }))
{
    @Html.AntiForgeryToken()
<div class="filter__distr">
    <div class="filter__distr-group">
        <label>Преподаватель</label>

        <select class="distribution__input" name="teacherId">
            @foreach (var item in ViewBag.Teachers)
            {
                <option value="@item.Id">@item.LastName @item.FirstName @item.MiddleName</option>
            }

        </select>
    </div>

    <div class="filter__distr-group">
        <label>Дисциплина</label>
        @*<div class="distribution__discipline-filter">
                <a class="distribution__discipline-filter-btn" onclick="filter(this)" data-is_active="0"><span>Все</span><p>&#x25bc;</p></a>
                <ul class="distribution__discipline-filter-list">
                    <li onclick="set_filter(this)">Все</li>
                    <li onclick="set_filter(this)">Распределенные</li>
                    <li onclick="set_filter(this)">Не распределенные</li>
                </ul>
            </div>*@
        <select class="distribution__input" name="distributionId">
            @foreach (var item in ViewBag.DistributionPlans)
            {
                <option value="@item.Id">@item.Discipline.Subject.Name (@item.Discipline.Plan.Speciality.NameAbbreviated, @item.Discipline.CourseNumber Курс)</option>
            }

        </select>
        
    </div>
</div>
<input type="submit" class="filter__distr-submit custom-btn" onclick="showInfoBlock()" value="Распределить нагрузку" />
<div class="info-block" id="info-block">
    <p>Распределить одну дискрету: L-Click</p>
    <p>Распределить все часы: Ctrl + L-Click</p>
    <i class="fal fa-times info-block__close" onclick="closeInfoBlock(this)"></i>
</div>

}
<div id="distr"></div>
