﻿@model DataAccessLayer.Entities.Load.DistributionPlan


@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Index";
}


@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Styles/MainStyles/table.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/Distribution/main.css")">

}


@section Content{

    @using (Ajax.BeginForm("DistributionFilter", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.Replace, }))
    {
<div class="filter">
    <p>Фильтрация дисципин</p>
    @Html.AntiForgeryToken()
    <div class="distribution__info-selects">
        <div>
            @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "distribution__label" })
            <div class="distribution__input-block">
                @Html.EnumDropDownListFor(model => model.Budget, htmlAttributes: new { @class = "distribution__input", Name = "budget" })
                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "distribution__text-danger" })
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Stage, htmlAttributes: new { @class = "distribution__label" })
            <div class="distribution__input-block">
                @Html.EnumDropDownListFor(model => model.Stage, htmlAttributes: new { @class = "distribution__input", Name = "stage" })
                @Html.ValidationMessageFor(model => model.Stage, "", new { @class = "distribution__text-danger" })
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.FormStudy, htmlAttributes: new { @class = "distribution__label" })
            <div class="distribution__input-block">
                @Html.EnumDropDownListFor(model => model.FormStudy, htmlAttributes: new { @class = "distribution__input", Name = "form" })
                @Html.ValidationMessageFor(model => model.FormStudy, "", new { @class = "distribution__text-danger" })
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.TimeOfYear, htmlAttributes: new { @class = "distribution__label" })
            <div class="distribution__input-block">
                @Html.EnumDropDownListFor(model => model.TimeOfYear, htmlAttributes: new { @class = "distribution__input", Name = "time" })
                @Html.ValidationMessageFor(model => model.TimeOfYear, "", new { @class = "distribution__text-danger" })
            </div>
        </div>


    </div>
    
</div>
<input type="submit" name="name" class="submit__filter custom-btn" value="Подобрать дисциплины" />

    }

    <div id="results"></div>

    @Scripts.Render("~/Scripts/jquery-3.4.1.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")


}


