﻿@model Tuple<DataAccessLayer.Entities.Load.DistributionPlan, DataAccessLayer.Entities.Load.Load>

<div id="searchInfo">

    <div class="distribution__choise">
        <div class="distribution__discipline distribution__block">
            <div class="distribution__hours">
                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.Lectures, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.Lectures, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.Lectures, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="0" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.Labs, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.Labs, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.Labs, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="1" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.Practice, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.Practice, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.Practice, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="2" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.ModuleRatingSystem, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.ModuleRatingSystem, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.ModuleRatingSystem, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="3" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.IndividualsTasks, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.IndividualsTasks, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.IndividualsTasks, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="4" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.CourseProject, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.CourseProject, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.CourseProject, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="5" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.Consultations, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.Consultations, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.Consultations, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="6" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.ReviewingTests, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.ReviewingTests, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.ReviewingTests, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="7" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.Offsets, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.Offsets, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.Offsets, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="8" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.Exams, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.Exams, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.Exams, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="9" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.EducationPractice, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.EducationPractice, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.EducationPractice, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="10" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.Internship, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.Internship, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.Internship, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="11" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.ThesisProject, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.ThesisProject, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.ThesisProject, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="12" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.StateExaminationComission, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.StateExaminationComission, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item1.StateExaminationComission, "", new { @class = "text-danger" })
                    </div>
                    <div class="arrow" data-pointNum="13" onclick="changeValue(event, this, true)"><i class="fas fa-arrow-circle-right"></i></i></div>
                </div>
            </div>
        </div>
        
        <div class="distribution__teaher distribution__block">
            <div class="distribution__hours">
                <div class="form-group">
                    <div class="arrow" data-pointNum="0" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.Lectures, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.Lectures, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="1" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.Labs, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.Labs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="2" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.Practice, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.Practice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="3" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.ModuleRatingSystem, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.ModuleRatingSystem, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="4" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.IndividualsTasks, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.IndividualsTasks, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="5" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.CourseProject, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.CourseProject, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="6" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.Consultations, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.Consultations, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="7" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.ReviewingTests, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.ReviewingTests, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="8" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.Offsets, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.Offsets, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="9" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.Exams, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.Exams, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="10" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.EducationPractice, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.EducationPractice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="11" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.Internship, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.Internship, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="12" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.ThesisProject, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.ThesisProject, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="arrow" data-pointNum="13" onclick="changeValue(event, this, false)"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item2.StateExaminationComission, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Item2.StateExaminationComission, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

